<mat-toolbar>
  <a
    [routerLink]="['/']"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <span class="material-symbols-outlined"> menu_book </span>
  </a>
  <span>Home</span>
  <span class="example-spacer"></span>
  <a
    [routerLink]="'/signup'"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <span class="material-symbols-outlined"> how_to_reg </span>
  </a>
  <a
    [routerLink]="'/login'"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <span class="material-symbols-outlined"> login </span>
  </a>
</mat-toolbar>
