<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img src="../../../assets/1.jpg" alt="" />
            <!-- {{ user | json }} -->
          </div>
          <h1 class="text-center">Login Here</h1>

          <form>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>User Name</mat-label>
              <input matInput placeholder="Enter Your Name" name="username" />
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Enter Your Password" name="pass" />
            </mat-form-field>

            <div class="container text-center">
              <button mat-raised-button color="primary">Login</button>
              <button
                style="margin-left: 20px"
                mat-raised-button
                color="accent"
              >
                Clear
              </button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
